.contenedor{
 max-width: 50%;
margin: 0 auto;

}
p{
    color:rgb(4, 0, 255);
    font-family: Verdana;
}
h1{color:rgb(19, 116, 0);font-family:sans-serif;
}
body{background-color: rgb(255, 172, 214);}

.borde{
    border-bottom: solid 3px;
    color:rgb(1, 4, 4);
}
.borde2{border-bottom: solid 3px;
color:black;
}